# **SQL Approach**

In [64]:
import sqlite3
import random
import csv

# Step 1: Establishing the Database Connection
database_name = "Sales_sql.db"
connection = sqlite3.connect(database_name)
cursor = connection.cursor()

# Step 2: Writing the SQL Query to Create Tables
create_sales_table_query = '''
CREATE TABLE IF NOT EXISTS Sales (
    sales_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id)
);
'''

create_customer_table_query = '''
CREATE TABLE IF NOT EXISTS Customer (
    customer_id INTEGER PRIMARY KEY,
    age INTEGER
);
'''

create_orders_table_query = '''
CREATE TABLE IF NOT EXISTS Orders (
    order_id INTEGER PRIMARY KEY,
    sales_id INTEGER,
    item_id INTEGER,
    quantity INTEGER,
    FOREIGN KEY (sales_id) REFERENCES Sales(sales_id)
    FOREIGN KEY (item_id) REFERENCES Items(item_id)
);
'''

create_items_table_query = '''
CREATE TABLE IF NOT EXISTS Items (
    item_id INTEGER PRIMARY KEY,
    item_name VARCHAR(100)
);
'''


# Step 3: Executing the Query to Create Tables
cursor.execute(create_customer_table_query)
cursor.execute(create_sales_table_query)
cursor.execute(create_items_table_query)
cursor.execute(create_orders_table_query)


# Step 4: Committing Changes, Inserting values in tables and Closing the Connection
connection.commit()

customer_data = []

for i in range(50):
    age = random.randint(15, 40)
    customer_data.append((i,age))

sales_data = []

for i in range (50):
  sales_data.append((i,i))

item_data=[]

for i in range(50):
  item_name = f"Item_{i}"
  item_data.append((i,item_name))


order_data=[]

for i in range(50):
  quantity = random.randint(0,100)
  order_data.append((i,i,i,quantity))

insert_customer_query = '''
INSERT INTO Customer (customer_id,age)
VALUES (?,?);
'''
insert_sales_query = '''
INSERT INTO Sales (customer_id,sales_id)
VALUES (?,?);
'''

insert_item_query = '''
INSERT INTO Items (item_id,item_name)
VALUES (?,?);
'''

insert_order_query = '''
INSERT INTO Orders (order_id,sales_id,item_id,quantity)
VALUES (?,?,?,?);
'''

cursor.executemany(insert_customer_query, customer_data)
cursor.executemany(insert_sales_query, sales_data)
cursor.executemany(insert_item_query, item_data)
cursor.executemany(insert_order_query, order_data)

# create_select_customer_query = '''
# select * from Customer;
# '''
# create_select_sales_query = '''
# select * from Sales;
# '''
# create_select_item_query = '''
# select * from Items;
# '''
# create_select_order_query = '''
# select * from Orders;
# '''

# cursor.execute(create_select_customer_query)
# customer_rows = cursor.fetchall()
# print("Customer Table:")
# for row in customer_rows:
#     print(row)

# cursor.execute(create_select_sales_query)
# sales_row = cursor.fetchall()
# print("Sales Table:")
# for row in sales_row:
#     print(row)


# cursor.execute(create_select_item_query)
# item_row = cursor.fetchall()
# print("Items Table:")
# for row in item_row:
#     print(row)

# cursor.execute(create_select_order_query)
# order_row = cursor.fetchall()
# print("Orders Table:")
# for row in order_row:
#     print(row)

select_data_query='''
SELECT c.customer_id AS Customer,
       c.age AS Age,
       i.item_name AS Item,
       SUM(o.quantity) AS Quantity
FROM Customer c
JOIN Sales s ON c.customer_id = s.customer_id
JOIN Orders o ON s.sales_id = o.sales_id
JOIN Items i ON o.item_id = i.item_id
WHERE c.age BETWEEN 18 AND 35 AND o.quantity IS NOT NULL
GROUP BY c.customer_id, i.item_id
HAVING SUM(o.quantity) > 0;
'''

cursor.execute(select_data_query)
data_rows = cursor.fetchall()

print("Data:")
for row in data_rows:
    print(row)

csv_file_path = "sales_data_sql.csv"
with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file, delimiter=';')
    # Write the header
    writer.writerow([i[0] for i in cursor.description])
    # Write the data
    writer.writerows(data_rows)



connection.close()
print("Data exported to CSV file successfully.")

Data:
(0, 23, 'Item_0', 57)
(1, 23, 'Item_1', 35)
(2, 32, 'Item_2', 41)
(4, 24, 'Item_4', 1)
(5, 22, 'Item_5', 86)
(7, 19, 'Item_7', 62)
(8, 25, 'Item_8', 53)
(10, 25, 'Item_10', 75)
(11, 18, 'Item_11', 95)
(12, 33, 'Item_12', 36)
(14, 20, 'Item_14', 63)
(18, 34, 'Item_18', 73)
(19, 31, 'Item_19', 82)
(21, 34, 'Item_21', 4)
(22, 29, 'Item_22', 34)
(23, 28, 'Item_23', 12)
(25, 30, 'Item_25', 48)
(28, 34, 'Item_28', 16)
(29, 31, 'Item_29', 70)
(30, 24, 'Item_30', 2)
(34, 25, 'Item_34', 13)
(35, 24, 'Item_35', 85)
(36, 18, 'Item_36', 51)
(38, 23, 'Item_38', 53)
(39, 23, 'Item_39', 24)
(43, 28, 'Item_43', 67)
(46, 34, 'Item_46', 61)
(47, 25, 'Item_47', 84)
(48, 23, 'Item_48', 92)
(49, 21, 'Item_49', 84)
Data exported to CSV file successfully.

#**Python Pandas Approach**

In [65]:
import sqlite3
import random
import csv
import pandas as pd

# Step 1: Establishing the Database Connection
database_name = "Sales_panda.db"
connection = sqlite3.connect(database_name)
cursor = connection.cursor()

# Step 2: Writing the SQL Query to Create Tables
create_sales_table_query = '''
CREATE TABLE IF NOT EXISTS Sales (
    sales_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id)
);
'''

create_customer_table_query = '''
CREATE TABLE IF NOT EXISTS Customer (
    customer_id INTEGER PRIMARY KEY,
    age INTEGER
);
'''

create_orders_table_query = '''
CREATE TABLE IF NOT EXISTS Orders (
    order_id INTEGER PRIMARY KEY,
    sales_id INTEGER,
    item_id INTEGER,
    quantity INTEGER,
    FOREIGN KEY (sales_id) REFERENCES Sales(sales_id)
    FOREIGN KEY (item_id) REFERENCES Items(item_id)
);
'''

create_items_table_query = '''
CREATE TABLE IF NOT EXISTS Items (
    item_id INTEGER PRIMARY KEY,
    item_name VARCHAR(100)
);
'''

# Step 3: Executing the Query to Create Tables
cursor.execute(create_customer_table_query)
cursor.execute(create_sales_table_query)
cursor.execute(create_items_table_query)
cursor.execute(create_orders_table_query)
# Execute more queries for other tables

# Step 4: Committing Changes, Inserting values in tables and Closing the Connection
connection.commit()

customer_data = []

for i in range(50):
    age = random.randint(15, 40)
    customer_data.append((i,age))

sales_data = []

for i in range (50):
  sales_data.append((i,i))

item_data=[]

for i in range(50):
  item_name = f"Item_{i}"
  item_data.append((i,item_name))


order_data=[]

for i in range(50):
  quantity = random.randint(0,100)
  order_data.append((i,i,i,quantity))

insert_customer_query = '''
INSERT INTO Customer (customer_id,age)
VALUES (?,?);
'''
insert_sales_query = '''
INSERT INTO Sales (customer_id,sales_id)
VALUES (?,?);
'''

insert_item_query = '''
INSERT INTO Items (item_id,item_name)
VALUES (?,?);
'''

insert_order_query = '''
INSERT INTO Orders (order_id,sales_id,item_id,quantity)
VALUES (?,?,?,?);
'''

select_sales_query = '''
Select * from Sales;

'''
select_items_query = '''
Select * from Items;

'''

select_customers_query = '''
Select * from Customer;

'''

select_orders_query = '''
Select * from Orders;

'''

cursor.executemany(insert_customer_query, customer_data)
cursor.executemany(insert_sales_query, sales_data)
cursor.executemany(insert_item_query, item_data)
cursor.executemany(insert_order_query, order_data)

#df = pd.read_sql_query(select_sales_query, connection)
df_sales = pd.read_sql(select_sales_query, connection)
df_items = pd.read_sql(select_items_query, connection)
df_orders = pd.read_sql(select_orders_query, connection)
df_customers = pd.read_sql(select_customers_query, connection)

# df1=pd.DataFrame({'key':[df_customers.columns=customer_id],
#                  'value1':[df_customers.columns=age]})

# list = []
# for i in df_sales['sales_id']:
#   list.append(i)

# print(list)
#dftest=df_sales.type()
merged_df=pd.merge(df_customers,df_sales, on='customer_id', how='inner')
merged_df=pd.merge(merged_df,df_orders, on='sales_id', how='inner')
merged_df=pd.merge(merged_df,df_items, on='item_id', how='inner')
merged_df_1 = merged_df[(merged_df['age'] >=18) & (merged_df['age'] <=35)]
merged_df_2=merged_df_1.groupby(['customer_id', 'item_id']).filter(lambda x: x['quantity'].sum() > 0)
connection.close()

print(merged_df_2)
merged_df_2.to_csv('Sales_data_pandas.csv', index=False)

    customer_id  age  sales_id  order_id  item_id  quantity item_name
1             1   33         1         1        1        97    Item_1
3             3   19         3         3        3        53    Item_3
4             4   20         4         4        4        80    Item_4
5             5   33         5         5        5        57    Item_5
6             6   19         6         6        6        39    Item_6
7             7   33         7         7        7         6    Item_7
8             8   33         8         8        8        10    Item_8
10           10   22        10        10       10         3   Item_10
11           11   26        11        11       11        29   Item_11
12           12   30        12        12       12        89   Item_12
13           13   18        13        13       13        10   Item_13
14           14   26        14        14       14        34   Item_14
17           17   20        17        17       17        38   Item_17
18           18   22        18        18       18        40   Item_18
19           19   34        19        19       19        94   Item_19
21           21   21        21        21       21        27   Item_21
24           24   28        24        24       24        29   Item_24
27           27   27        27        27       27        30   Item_27
28           28   22        28        28       28        24   Item_28
29           29   19        29        29       29        98   Item_29
31           31   28        31        31       31        56   Item_31
32           32   35        32        32       32        60   Item_32
34           34   31        34        34       34        30   Item_34
35           35   29        35        35       35        62   Item_35
36           36   35        36        36       36        34   Item_36
37           37   18        37        37       37        59   Item_37
39           39   35        39        39       39         4   Item_39
41           41   27        41        41       41        19   Item_41
43           43   20        43        43       43        86   Item_43
45           45   32        45        45       45        92   Item_45
46           46   18        46        46       46        78   Item_46
47           47   33        47        47       47        76   Item_47
49           49   30        49        49       49        48   Item_49